#!/bin/bash
cd /root/
[ -d piwik-backups ] || mkdir piwik-backups
now=$(date +"%Y_%m_%d")
mysqldump -u {{ mysql.admin_user }} --databases {{ mysql.piwik_db }} | bzip2 > piwik-backups/piwik.$now.sql.bz2
ln -s /root/piwik-backups/piwik.$now.sql.bz2 /root/piwik.latest.sql.bz2
echo "done."